<!--<div class='container'>
  <div class="page-header">
    <img style="float: right;" *ngIf="loading" src='${loadingGif}' />
    <img src="../../../assets/images/youtube-logo.png" alt="youTube Logo" class="size" />
    <p *ngIf="loading"> Loading your search, plz wait... </p>
  </div>
  <div class="row">
    <div class="input-group input-group-lg col-md-12">
      <search-box (loading)="loading = $event" (results)="updateResults($event)"></search-box>
    </div>
  </div>
  <div class="row">
    <search-result *ngFor="let result of results" [result]="result"></search-result>
  </div>
</div>-->

<md-card>
  <md-card-title>
    <img src="../../../assets/images/youtube-logo.png" alt="youTube Logo" class="size" />
    <p *ngIf="loading"> Loading your search, plz wait... </p>
  </md-card-title>
  <md-card-content>
    <div class="row">
      <div class="input-group input-group-lg col-md-12">
        <search-box (loading)="loading = $event" (results)="updateResults($event)"></search-box>
      </div>
    </div>
    <div class="row">
      <search-result *ngFor="let result of results" [result]="result"></search-result>
    </div>
  </md-card-content>
</md-card>