<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <md-card class="card">
      <img md-card-img src="{{result.thumbnailUrl}}">
      <div class="caption">
        <md-card-title class="title">
          {{result.title}}
        </md-card-title>
        <md-card-content>
          {{result.description}}
        </md-card-content>
        <md-card-actions class="action">
          <button>
              <a href="{{result.videoUrl}}" md-raised-button color="primary" class="button" type="button"> Watch </a>
          </button>
          <!--<a href="{{result.videoUrl}}" class="btn btn-default" role="button" type="button">Watch</a>-->
        </md-card-actions>
      </div>
    </md-card>
  </div>
</div>