
.card {
    width: 500px;
    border: 1px solid blue;
    margin: 0 auto;
}
.title {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.action {
    text-align: center;
}
.logo {
    margin: 0 auto;
}