.card {
    width: 500px;
    border: 1px solid blue;
    margin: 0 auto;
    box-shadow: 5px 5px 2px cornflowerblue;
}
.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.action {
    text-align: center;
}
<<<<<<< HEAD
/*.button {
    background-color: blue;
=======
.button {
    background-color: blue;
    width: 100%;
}
.button :hover {
    background-color: white;
    border: 2px solid blue;
>>>>>>> be0d0e3e30e3d729866fe543baab5351b2aa3caf
}
.anchor {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
<<<<<<< HEAD
}*/
=======
}
>>>>>>> be0d0e3e30e3d729866fe543baab5351b2aa3caf
